<div id="body">
    <ul id="contacts"></ul>
</div>


<form id="saveProductForm" method="post">
    <h3>Create a new Product</h3>
    <p>
        <label for="contactName">Item Name:</label>
        <input type="text" name="Name" id="Name" />
    </p>

    <p>
        <label for="Desc">Item Description:</label>
        <input type="text" name="Description" id="Description" />
    </p>

    <p>
        <label for="Category">Item Category:</label>
        <input type="text" name="Category" id="Category" />
    </p>

    <p>
        <label for="price">Item Price:</label>
        <input type="text" name="Price" id="Price" />
    </p>
    <input type="button" id="saveProduct" value="Save" />
</form>